<script src="./Assets/lib/clash/index.f464e755.js"></script>
<script src="./Assets/lib/clash/vendor.ca041cc5.js"></script>
<link rel="stylesheet" href="./Assets/lib/clash/index.c7a648b5.css">
<link rel="manifest" href="http://clash.razord.top/manifest.webmanifest">
<script>if ('serviceWorker' in navigator) { window.addEventListener('load', () => { navigator.serviceWorker.register('./Assets/lib/clash/sw.js', { scope: './Assets/lib/clash/' }) }) }</script>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root">
    <div class="app not-clashx">
        <div class="sidebar">
            <img src="./Assets/lib/clash/logo.b453e72f.png" alt="logo" class="sidebar-logo">
            <ul class="sidebar-menu">
                <li class="item"><a href="#/proxies" aria-current="page" class="active">代理</a>
                </li>
                <li class="item"><a href="#/logs">日志</a></li>
                <li class="item no-mobile"><a href="#/rules">规则</a></li>
                <li class="item no-mobile"><a href="#/connections">连接</a></li>
                <li class="item"><a href="http://clash.razord.top/#/settings">设置</a></li>
            </ul>
            <div class="sidebar-version"><span class="sidebar-version-label">Clash 版本</span><span
                    class="sidebar-version-text"></span></div>
        </div>
        <div class="page-container">
            <div class="page"></div>
        </div>
    </div>
</div>